.FORM{
    text-align: left;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    width:0 auto;
    margin-right: 30%;
    box-sizing: border-box;
}


.LABEL{
    color: black;
    font-size: 40px;
    margin: 0 auto;
}

input{
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 20px;
    padding-left: 4px;
}